* {
  margin: 0;
  padding: 0%;
  border: 0%;
  box-sizing: border-box;
}

.space {
  margin: 75% 0;
}

.parallax {
  background: url('./space-square.jpg') repeat fixed center 100%;
}

.parallax_container h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.parallax_container {
  padding: 30% 0 30% 0;
}

