* {
  margin: 0;
  padding: 0%;
  border: 0%;
}

.space {
  margin: 75% 0;
}

.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./galaxy_of_numbers.jpg') repeat fixed center 100%;
}
.parallax_container {
  padding: 30% 0 30% 0;
  display: flex;
}
.parallax_container h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}
.ssdVsHdd {
  width: 50%;
  height: auto;
  min-width: 400px;
  background: url('./ssd-vs-hdd-whats-the-difference_2f2r.jpg');
}
